<div class="conteiner">
  <div class="body-image">
  
  </div>

  <div class="body_content">
      <div class="label-content">
        <strong>Title:</strong>
        <%= book.title %>
      </div>

      <div class="label-content">
        <strong>Description:</strong>
        <%= book.description %>
      </div>
    

      <div class="label-content">
        <strong>Year:</strong>
        <%= book.year %>
      </div>
  </div>

</div>
