<header>
<h1>Atualizar livro</h1>
</header>
<%= render "form", book: @book %>

<br>

  <div class="button-show">
    <%= link_to "visualizar livro", @book %> |
  </div>
  <div class="button-back">
    <%= link_to "Back to books", books_path %>
  </div

