<header>
<h1>Atualizar livro</h1>
</header>
<%= render "form", book: @book %>

<br>

<div class="show-buttons-container">
    <%= link_to "visualizar livro", @book, class: "button-show" %>
    <%= link_to "Voltar para o catálogo", books_path, class: "button-back" %>
</div>