/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /**/
 *{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "poppings", sans-serif;
 }


.body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteiner{
    width: 80%;
    right: 80vh;
    display: flex;
    margin: 15px 50px 20px 50px;
    border-radius: 40px;
    padding: 10px;
    background-color: #0c0ce94d;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 212);
 }
 .body-conteiner{
    width: 50%;
    right: 100px;
    display: block;
    justify-content: left;
    align-items: normal;
 }
.body-image{
    width: 50%;
    display: flex;
}

.body-image img{
    display: flex;
    justify-content: center;
    margin: 5px 50px 5px 50px ;
    width: 25rem;

}

.label-input{
    display: flex;
    flex-direction: wrap;
    margin: 25px 0px 25px 0px;
    width: 100%;
}

header h1::after{
  content:'';
  display: block;
   width: 5rem;
   height: 0.3rem;
   background-color: violet;
   margin: 0 auto;
   position: absolute;
  border-radius: 10px;
}


.label-content :hover{
  background-color: #feeeee75;
}

/*buttons*/
.button-edit{
  width: 100%;
  border: none;
  border-radius: 15px;
  background-color:rebeccapurple;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
}
.button-edit:hover{
  background-color: #6b63fff1;
}
.button-edit a{
  text-decoration: none;
  font-size: 0.91rem;
  font-weight: 500;
  color: #ffff;
}
.button-back{
  width: 100%;
  border: none;
  border-radius: 15px;
  background-color:rebeccapurple;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
}
.button-back:hover{
  background-color: #6b63fff1;
}
.button-back a{
  text-decoration: none;
  font-size: 0.91rem;
  font-weight: 500;
  color: #ffff;
}
.button-show{
  width: 100%;
  border: none;
  border-radius: 15px;
  background-color:rebeccapurple;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
}
.button-show:hover{
  background-color: #6b63fff1;
}
.button-show a{
  text-decoration: none;
  font-size: 0.91rem;
  font-weight: 500;
  color: #ffff;
}
.button-destroy{
  width: 100%;
  border: none;
  border-radius: 15px;
  background-color:rebeccapurple;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
}
.button-destroy:hover{
  background-color: #6b63fff1;
}
.button-destroy a{
  text-decoration: none;
  font-size: 0.91rem;
  font-weight: 500;
  color: #ffff;
}
.button-new{
  width: 100%;
  border: none;
  border-radius: 15px;
  background-color:rebeccapurple;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
}
.button-new:hover{
  background-color: #6b63fff1;
}
.button-new a{
  text-decoration: none;
  font-size: 0.91rem;
  font-weight: 500;
  color: #ffff;
}

.back-to-books-btn:hover {
  border-radius: 15px;
  background-color:rebeccapurple;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  justify-items: auto;
}
.button-create {
  border-radius: 15px;
  background-color:rebeccapurple;
  color: #ffffff;
  padding: 10px 20px;
  width: 100px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  justify-items: auto;
  
}
.button-create:hover{
  background-color: #6b63fff1;
}
.button-create a{
  text-decoration: none;
  font-size: 0.91rem;
  font-weight: 500;
  color: #ffff;
}

.button-back link-to{
  color: #ffff;
}